.logo-footer {
    width: 45px;
    height: 45px;
}
.text-title-first-footer {
    font-weight: 300;
    font-size: 25px;
}
  
.text-title-second-footer {
    font-weight: 400;
    font-size: 25px;
}
  

@media screen and (max-width: 1050px) {
    #nav-tabs {
        display: none;
    }
}

#nav-tabs {
    display: visible;
}